<div class="page-header">
  <%= link_to tasks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3>Create a Task</h3>
  <h2>Let the community help you.</h2>
</div>

<%= render 'form' %>
