<div class="page-header">
  <%= link_to task_bids_path(@task), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New bid</h1>
</div>


<%= render 'form' %>
