#DIV_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 501.656px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 0px;
    width: 355px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 177.5px 250.828px;
    transform-origin: 177.5px 250.828px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 236.656px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 0px;
    width: 355px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 177.5px 118.328px;
    transform-origin: 177.5px 118.328px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    content: '""';
    display: block;
    height: 118.328px;
    left: 0px;
    opacity: 0.9;
    pointer-events: none;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 118.328px;
    width: 355px;
    z-index: 1;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 177.5px 59.1562px;
    transform-origin: 177.5px 59.1562px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    bottom: 195.656px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 21px;
    left: 20px;
    letter-spacing: 1px;
    position: absolute;
    right: 261.984px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 20px;
    white-space: nowrap;
    width: 73.0156px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 36.5px 10.5px;
    transform-origin: 36.5px 10.5px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(240, 173, 78) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 11px / 11px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#DIV_3*/

#DIV_3:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 11px / 11px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 11px / 11px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3:before*/

#A_4 {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    display: block;
    height: 236.656px;
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    width: 355px;
    column-rule-color: rgb(26, 188, 156);
    perspective-origin: 177.5px 118.328px;
    transform-origin: 177.5px 118.328px;
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#A_4*/

#A_4:after {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#A_4:after*/

#A_4:before {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#A_4:before*/

#IMG_5 {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    cursor: pointer;
    display: block;
    height: 236.656px;
    max-width: 100%;
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 355px;
    column-rule-color: rgb(26, 188, 156);
    perspective-origin: 177.5px 118.328px;
    transform-origin: 177.5px 118.328px;
    transform-style: preserve-3d;
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#IMG_5*/

#IMG_5:after {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#IMG_5:after*/

#IMG_5:before {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#IMG_5:before*/

#DIV_6 {
    bottom: 20px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 41px;
    left: 256.562px;
    letter-spacing: 1px;
    position: absolute;
    right: 20px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    top: 175.656px;
    width: 78.4375px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 39.2188px 20.5px;
    transform-origin: 39.2188px 20.5px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 26px / 26px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_6*/

#DIV_6:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 26px / 26px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 26px / 26px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_6:before*/

#SPAN_7 {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    display: block;
    height: 12px;
    letter-spacing: 1px;
    text-align: right;
    text-decoration: none solid rgba(255, 255, 255, 0.85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    width: 78.4375px;
    column-rule-color: rgba(255, 255, 255, 0.85);
    perspective-origin: 39.2188px 6px;
    transform-origin: 39.2188px 6px;
    user-select: none;
    caret-color: rgba(255, 255, 255, 0.85);
    border: 0px none rgba(255, 255, 255, 0.85);
    font: normal normal 300 normal 12px / 12px Roboto, sans-serif;
    margin: 3px 0px 0px;
    outline: rgba(255, 255, 255, 0.85) none 0px;
}/*#SPAN_7*/

#SPAN_7:after {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1px;
    text-align: right;
    text-decoration: none solid rgba(255, 255, 255, 0.85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.85);
    user-select: none;
    caret-color: rgba(255, 255, 255, 0.85);
    border: 0px none rgba(255, 255, 255, 0.85);
    font: normal normal 300 normal 12px / 12px Roboto, sans-serif;
    outline: rgba(255, 255, 255, 0.85) none 0px;
}/*#SPAN_7:after*/

#SPAN_7:before {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1px;
    text-align: right;
    text-decoration: none solid rgba(255, 255, 255, 0.85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.85);
    user-select: none;
    caret-color: rgba(255, 255, 255, 0.85);
    border: 0px none rgba(255, 255, 255, 0.85);
    font: normal normal 300 normal 12px / 12px Roboto, sans-serif;
    outline: rgba(255, 255, 255, 0.85) none 0px;
}/*#SPAN_7:before*/

#DIV_8 {
    bottom: 20px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 29px;
    left: 20px;
    position: absolute;
    right: 274px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 187.656px;
    width: 61px;
    z-index: 1;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 30.5px 14.5px;
    transform-origin: 30.5px 14.5px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_8*/

#DIV_8:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(85, 85, 85);
    content: '""';
    display: block;
    height: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    width: 61px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 30.5px 0px;
    transform-origin: 30.5px 0px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_8:before*/

#A_9 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 29px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    width: 28px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 14px 14.5px;
    transform-origin: 14px 14.5px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 12px / 12px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 8px;
    transition: all 0.3s ease 0s;
}/*#A_9*/

#A_9:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_9:after*/

#A_9:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_9:before*/

#I_10 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    width: 12px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 6px 6px;
    transform-origin: 6px 6px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px lined-icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_10*/

#I_10:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px lined-icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_10:after*/

#I_10:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    content: '""';
    cursor: pointer;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px lined-icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_10:before*/

#A_11 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 29px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    width: 28px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 14px 14.5px;
    transform-origin: 14px 14.5px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 12px / 12px Roboto, sans-serif;
    margin: 0px 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 8px;
    transition: all 0.3s ease 0s;
}/*#A_11*/

#A_11:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_11:after*/

#A_11:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_11:before*/

#I_12 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    width: 12px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 6px 6px;
    transform-origin: 6px 6px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px lined-icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_12*/

#I_12:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px lined-icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_12:after*/

#I_12:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    content: '""';
    cursor: pointer;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 12px lined-icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_12:before*/

#DIV_13 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 245px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 0px;
    width: 355px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 177.5px 122.5px;
    transform-origin: 177.5px 122.5px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    margin: 20px 0px 0px;
    outline: rgb(85, 85, 85) none 0px;
    padding: 0px 20px;
}/*#DIV_13*/

#DIV_13:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_13:after*/

#DIV_13:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_13:before*/

#H3_14 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 31px;
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-size-adjust: 100%;
    width: 315px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 157.5px 15.5px;
    transform-origin: 157.5px 15.5px;
    user-select: none;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 600 normal 21px / 31.5px Rubik, sans-serif;
    margin: 0px 0px 30px;
    outline: rgb(68, 68, 68) none 0px;
}/*#H3_14*/

#H3_14:after {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-size-adjust: 100%;
    column-rule-color: rgb(68, 68, 68);
    user-select: none;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 600 normal 21px / 31.5px Rubik, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#H3_14:after*/

#H3_14:before {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-size-adjust: 100%;
    column-rule-color: rgb(68, 68, 68);
    user-select: none;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 600 normal 21px / 31.5px Rubik, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#H3_14:before*/

#A_15 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 21px / 31.5px Rubik, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_15*/

#A_15:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    user-select: none;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 21px / 31.5px Rubik, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_15:after*/

#A_15:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    user-select: none;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 21px / 31.5px Rubik, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_15:before*/

#SPAN_16 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: block;
    height: 21px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    width: 315px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 157.5px 10.5px;
    transform-origin: 157.5px 10.5px;
    user-select: none;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    margin: -27px 0px 0px;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_16*/

#SPAN_16:after {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    column-rule-color: rgb(153, 153, 153);
    user-select: none;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_16:after*/

#SPAN_16:before {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    column-rule-color: rgb(153, 153, 153);
    user-select: none;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_16:before*/

#A_17 {
    bottom: 211px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: block;
    height: 32px;
    left: 303px;
    position: absolute;
    right: 20px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    top: 2px;
    width: 32px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 16px 16px;
    transform-origin: 16px 16px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 16px / 30px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_17*/

#A_17:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 16px / 30px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#A_17:after*/

#A_17:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 16px / 30px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#A_17:before*/

#I_18 {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    width: 5.71875px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 2.85938px 15px;
    transform-origin: 2.85938px 15px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 16px / 30px font-icons;
    outline: rgb(85, 85, 85) none 0px;
}/*#I_18*/

#I_18:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: pointer;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 16px / 30px font-icons;
    outline: rgb(85, 85, 85) none 0px;
}/*#I_18:after*/

#I_18:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    content: '""';
    cursor: pointer;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 16px / 30px font-icons;
    outline: rgb(85, 85, 85) none 0px;
}/*#I_18:before*/

#DIV_19 {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(85, 85, 85);
    height: 1px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 0px;
    width: 315px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 157.5px 0.5px;
    transform-origin: 157.5px 0.5px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 0px none rgb(85, 85, 85);
    border-bottom: 0px none rgb(85, 85, 85);
    border-left: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    margin: 15px 0px;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_19*/

#DIV_19:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 400 normal 14px / 21px Roboto, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_19:before*/

#DIV_20 {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 159px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    width: 315px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 157.5px 79.5px;
    transform-origin: 157.5px 79.5px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    margin: 15px 0px 0px;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_20*/

#DIV_20:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(85, 85, 85);
    content: '""';
    display: block;
    height: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    width: 315px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 157.5px 0px;
    transform-origin: 157.5px 0px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_20:before*/

#DIV_21 {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: flex;
    height: 159px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    width: 315px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 157.5px 79.5px;
    transform-origin: 157.5px 79.5px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    flex-flow: row wrap;
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_21*/

#DIV_21:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_21:after*/

#DIV_21:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_21:before*/

#DIV_22, #DIV_24, #DIV_26 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 21px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 0px;
    width: 315px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 157.5px 10.5px;
    transform-origin: 157.5px 10.5px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_22, #DIV_24, #DIV_26*/

#DIV_22:after, #DIV_24:after, #DIV_26:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_22:after, #DIV_24:after, #DIV_26:after*/

#DIV_22:before, #DIV_24:before, #DIV_26:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_22:before, #DIV_24:before, #DIV_26:before*/

#SPAN_23, #SPAN_25 {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#SPAN_23, #SPAN_25*/

#SPAN_23:after, #SPAN_25:after {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#SPAN_23:after, #SPAN_25:after*/

#SPAN_23:before, #SPAN_25:before {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#SPAN_23:before, #SPAN_25:before*/

#SPAN_27 {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#SPAN_27*/

#SPAN_27:after {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#SPAN_27:after*/

#SPAN_27:before {
    box-sizing: border-box;
    color: rgb(26, 188, 156);
    text-align: left;
    text-decoration: none solid rgb(26, 188, 156);
    text-size-adjust: 100%;
    column-rule-color: rgb(26, 188, 156);
    user-select: none;
    caret-color: rgb(26, 188, 156);
    border: 0px none rgb(26, 188, 156);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(26, 188, 156) none 0px;
}/*#SPAN_27:before*/

#DIV_28, #DIV_31, #DIV_34 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 22px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 0px;
    width: 315px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 157.5px 11px;
    transform-origin: 157.5px 11px;
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_28, #DIV_31, #DIV_34*/

#DIV_28:after, #DIV_31:after, #DIV_34:after {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_28:after, #DIV_31:after, #DIV_34:after*/

#DIV_28:before, #DIV_31:before, #DIV_34:before {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(85, 85, 85);
    text-size-adjust: 100%;
    column-rule-color: rgb(85, 85, 85);
    user-select: none;
    caret-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_28:before, #DIV_31:before, #DIV_34:before*/

#SPAN_29, #SPAN_32 {
    box-sizing: border-box;
    color: rgb(40, 167, 69);
    text-align: left;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(40, 167, 69);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(40, 167, 69);
    border: 0px none rgb(40, 167, 69);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(40, 167, 69) none 0px;
}/*#SPAN_29, #SPAN_32*/

#SPAN_29:after, #SPAN_32:after {
    box-sizing: border-box;
    color: rgb(40, 167, 69);
    text-align: left;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(40, 167, 69);
    user-select: none;
    caret-color: rgb(40, 167, 69);
    border: 0px none rgb(40, 167, 69);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(40, 167, 69) none 0px;
}/*#SPAN_29:after, #SPAN_32:after*/

#SPAN_29:before, #SPAN_32:before {
    box-sizing: border-box;
    color: rgb(40, 167, 69);
    text-align: left;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(40, 167, 69);
    user-select: none;
    caret-color: rgb(40, 167, 69);
    border: 0px none rgb(40, 167, 69);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(40, 167, 69) none 0px;
}/*#SPAN_29:before, #SPAN_32:before*/

#I_30, #I_33 {
    bottom: -1px;
    box-sizing: border-box;
    color: rgb(40, 167, 69);
    display: inline-block;
    height: 21px;
    left: 0px;
    position: relative;
    right: 0px;
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    top: 1px;
    width: 12.0156px;
    column-rule-color: rgb(40, 167, 69);
    perspective-origin: 6px 10.5px;
    transform-origin: 6px 10.5px;
    user-select: none;
    caret-color: rgb(40, 167, 69);
    border: 0px none rgb(40, 167, 69);
    font: normal normal 400 normal 14px / 21px font-icons;
    margin: 0px 0px 0px 3px;
    outline: rgb(40, 167, 69) none 0px;
}/*#I_30, #I_33*/

#I_30:after, #I_33:after {
    box-sizing: border-box;
    color: rgb(40, 167, 69);
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(40, 167, 69);
    user-select: none;
    caret-color: rgb(40, 167, 69);
    border: 0px none rgb(40, 167, 69);
    font: normal normal 400 normal 14px / 21px font-icons;
    outline: rgb(40, 167, 69) none 0px;
}/*#I_30:after, #I_33:after*/

#I_30:before, #I_33:before {
    box-sizing: border-box;
    color: rgb(40, 167, 69);
    content: '""';
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(40, 167, 69);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(40, 167, 69);
    border: 0px none rgb(40, 167, 69);
    font: normal normal 400 normal 14px / 21px font-icons;
    outline: rgb(40, 167, 69) none 0px;
}/*#I_30:before, #I_33:before*/

#SPAN_35 {
    box-sizing: border-box;
    color: rgb(220, 53, 69);
    text-align: left;
    text-decoration: none solid rgb(220, 53, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(220, 53, 69);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(220, 53, 69);
    border: 0px none rgb(220, 53, 69);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(220, 53, 69) none 0px;
}/*#SPAN_35*/

#SPAN_35:after {
    box-sizing: border-box;
    color: rgb(220, 53, 69);
    text-align: left;
    text-decoration: none solid rgb(220, 53, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(220, 53, 69);
    user-select: none;
    caret-color: rgb(220, 53, 69);
    border: 0px none rgb(220, 53, 69);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(220, 53, 69) none 0px;
}/*#SPAN_35:after*/

#SPAN_35:before {
    box-sizing: border-box;
    color: rgb(220, 53, 69);
    text-align: left;
    text-decoration: none solid rgb(220, 53, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(220, 53, 69);
    user-select: none;
    caret-color: rgb(220, 53, 69);
    border: 0px none rgb(220, 53, 69);
    font: normal normal 500 normal 14px / 21px Rubik, sans-serif;
    outline: rgb(220, 53, 69) none 0px;
}/*#SPAN_35:before*/

#I_36 {
    bottom: -1px;
    box-sizing: border-box;
    color: rgb(220, 53, 69);
    display: inline-block;
    height: 21px;
    left: 0px;
    position: relative;
    right: 0px;
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(220, 53, 69);
    text-size-adjust: 100%;
    top: 1px;
    width: 12.0156px;
    column-rule-color: rgb(220, 53, 69);
    perspective-origin: 6px 10.5px;
    transform-origin: 6px 10.5px;
    user-select: none;
    caret-color: rgb(220, 53, 69);
    border: 0px none rgb(220, 53, 69);
    font: normal normal 400 normal 14px / 21px font-icons;
    margin: 0px 0px 0px 3px;
    outline: rgb(220, 53, 69) none 0px;
}/*#I_36*/

#I_36:after {
    box-sizing: border-box;
    color: rgb(220, 53, 69);
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(220, 53, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(220, 53, 69);
    user-select: none;
    caret-color: rgb(220, 53, 69);
    border: 0px none rgb(220, 53, 69);
    font: normal normal 400 normal 14px / 21px font-icons;
    outline: rgb(220, 53, 69) none 0px;
}/*#I_36:after*/

#I_36:before {
    box-sizing: border-box;
    color: rgb(220, 53, 69);
    content: '""';
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(220, 53, 69);
    text-size-adjust: 100%;
    column-rule-color: rgb(220, 53, 69);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    caret-color: rgb(220, 53, 69);
    border: 0px none rgb(220, 53, 69);
    font: normal normal 400 normal 14px / 21px font-icons;
    outline: rgb(220, 53, 69) none 0px;
}/*#I_36:before*/
