<section id="home">
    <!-- unique id = home, used to point to a style in CSS -->

    <div id="home-cover" class="bg-parallax animated fadeIn">

      <div id="home-content-box">
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="title">

        <h3>Stop Dreaming.</h3>
        <h3>Start Earning.</h3>
        <h3>Shared Community.</h3>
        <h3>Earn or Ask for Help with</h3>
        <h3>GigHelp</h3>

        <div id="button-home">
          <%= link_to "Sign Up To View Task", tasks_path, class: "button btn btn-danger custom-button", style: "color: #fff;" %>
        </div>
      </div>

    </div>

  </div>

</div>

        <div id="home-content-box-inner" class "text-center">

          <div id="home-btn" data-aos="fade" data-aos-delay="200">


          </div>


        </div>

      </div>


    </div>

  </section>
