<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">

  <div class="slider-parallax-inner">

    <div class="fslider" data-speed="3000" data-pause="7500" data-animation="fade" data-arrows="false" data-pagi="false" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333;">
      <div class="flexslider" style="height: 100% !important;">
        <div class="slider-wrap" style="height: inherit;">
          <div class="slide" style="background: url('demos/travel/images/slider/1.jpg') center center; background-size: cover; height: 100% !important;"></div>
          <div class="slide" style="background: url('demos/travel/images/slider/2.jpg') center center; background-size: cover; height: 100% !important;"></div>
          <div class="slide" style="background: url('demos/travel/images/slider/3.jpg') center center; background-size: cover; height: 100% !important;"></div>
        </div>
      </div>
    </div>

    <div id="travel-slider-overlay">

      <div class="vertical-middle">

        <div class="container clearfix">

          <div class="tabs travel-organiser-tabs clearfix" style="margin: 25px;">

            <ul class="tab-nav clearfix">
              <li>
                <a href="#tab-flights" style="top: 0;
                      background-color: #0092E7;">
                  <i class="fas fa-people-carry"></i>
                </i>
                <span class="d-none d-md-inline-block">Tasks</span></a>
            </li>
            <li>
              <a href="tasks#new">
                <i class="fas fa-tasks"></i>
              </i>
              <span class="d-none d-md-inline-block">Post a Task</span></a>
          </li>
        </ul>


    <%= form_tag(tasks_path, method: "get") do %>

        <div class="tab-container">

          <div class="task_search form-group">

            <div class="tab-content clearfix" id="tab-flights">
              <form action="#" method="post" class="nobottommargin">
                <div class="row">

                  <div class="clear"></div>
                  <div class="col-md-10 bottommargin-sm">
                    <label for="">Find A Task</label>

                    <%= text_field_tag :search, nil, placeholder: "What kind of task are you looking for?", class: "md-form-control" %>

                  </div>
                  <div class="col-md-12">
                    <button class="button button-3d nomargin rightmargin-sm">Search Tasks</button>

                  </div>
                </div>
              </form>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

</div>

</section>

<% end %>

<br><br><br><br><br><br>
