/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "magnific-popup";
 @import "media";

 h3, .h3 {
     font-size: 48px;
     font-family: 'Poppins', sans-serif;
 }


body {
  padding: 0px;
}

label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 30px;
}

#primary-menu ul li > a {

  color: #fff;

}

.alert-success, .alert-danger {
    margin: 0px;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image_tag('background.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

.navbar {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('background-jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#user_remember_me {
    margin-top: 19px;
    margin-left: 2px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 10px;
}
.btn-default {
    color: #fff;
    background-color: #f14c73;
    border-color: #f14c73;
  }

.btn-default, li {

  font-weight: 900;

}

.custom-button {
	padding: 0 26px;
	font-size: 16px;
	height: 46px;
	line-height: 46px;
  border-radius: 23px;
  font-weight: 700;
}


.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 700;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.button-unique {

  background-color: #d9534f;
  color: #fff;
}

.form-control {
    border-radius: 3px;
}

::selection {
    background: #1ABC9C;
    color: #FFF;
    text-shadow: none;
}

.divider.divider-center, .divider.divider-center.divider-short {
    text-align: left;
}

.divider i {
    position: relative;
    width: 18px;
    height: 18px;
    line-height: 1;
    font-size: 18px !important;
    text-align: left;
}

.divider {
    position: relative;
    overflow: hidden;
    margin: 35px 0;
    color: #1ABC9C;
    width: 100%;
}

.divider.divider-center:before {
    left: -50% !important;
    right: 0;
    margin-left: -20px;
}

.divider.divider-center:after {
    left: 50% !important;
    right: 0;
    margin-left: 20px;
}

.divider:after, .divider.divider-center:before, .divider.divider-center.divider-short:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 8px;
    left: 30px;
    height: 0;
    border-top: 1px solid #EEE;
}

.task-show {
      color: #444;
      font-weight: 600;
      line-height: 1.5;
      margin: 0 0 30px 0;
      font-family: 'Raleway', sans-serif;
  }

.task-show p {
    line-height: 1.8;
    }

.form-row h3 {
   font-size: 24px;
    }

// bootstrap

.md-form-control {

    height: auto;
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 14px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #DDD;
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;


}

.box-arthur {

  margin-top: 5px;

}

.box-arthur span {
  color: #1ABC9C !important;
  display: inline;
}

.box-arthur pre {
  display: inline;
  margin: 10px;
  font-size: 10px;
  color: #1ABC9C !important;
  padding: 5px;
}

.arthur-box-inner {
  font-size: 15px;
}

.flex-direction{
  flex-direction:row;
}

.div2{
  background-color:#fff;
  width:314px;
  height:132px;
}

.div2{
  width:300px;
  height:107px;
}
.div2 .div10{
  line-height:107px;
}

#test{
  color: #white;
}



// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
